.btn-vw-active {background-color: #667eea;color: #fff;}
.btn-vw-active:hover {background-color: #4c51bf;}
.btn-vw-inactive {background-color: transparent;color: #4c51bf;border-width: 1px;border-color: #667eea;}
.btn-vw-inactive:hover {color: #FFF;background-color: #667eea;border-color: transparent}
