<div class="container mx-24 mt-12 max-w-lg">
	<%if((locals.response && locals.response.error) && response.error == true) {%>
		<p class="text-xs text-red-700"><%= response.message %></p>
	<%}%>

	<iframe src="https://open.spotify.com/embed/playlist/<%= data.token %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
